# compiled output
/dist
/node_modules

# logs
yarn-debug.log*
yarn-error.log*

# test coverage
/coverage

# sensitive
.env
.env.test

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
test.txt

# Prisma
/prisma/*.db
/prisma/*.web
